.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal__content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 30px;
  border-radius: 10px;
  background: #0c051a;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
}

.modal__btn {
  background: linear-gradient(45deg, #f189c6, #55007c);
}

.modal__btn::after {
  background: linear-gradient(45deg, #f189c6, #55007c);
}

.modal__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__string {
  display: grid;
  grid-template-columns: 30px 100px repeat(3, 1fr);
  gap: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background: #14082c;
}

.modal__string span {
  text-align: center;
}

.modal__string span:nth-of-type(2) {
  text-transform: uppercase;
  color: #fa4cf1;
}

.modal__string span:nth-of-type(4) {
  font-family: 'Courier New', Courier, monospace;
}
