.player {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}

.player__title {
  font-size: 22px;
  filter: brightness(0.4);
}

.player_active .player__title {
  filter: none;
}

.player__step {
  font-size: 28px;
  transform: scale(1);
  transition: 0.4s;
}

.player__step_active {
  color: rgb(247, 46, 186);
  transform: scale(2);
  transition: 0.4s;
}
